/* You can add global styles to this file, and also import other style files */

:root {
  --code-font: "DM Mono", monospace;
  --inter-font: "Inter", var(--fallback-font-stack);
  --inter-tight-font: "Inter Tight", var(--fallback-font-stack);
  --icons: "Material Symbols Outlined";
  --selection-background: var(--vivid-pink);
  --selection-color: var(--vivid-pink);
  --fallback-font-stack: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --page-width: 80ch;
  --layout-padding: 3.12rem;
  --primary-nav-width: 0px;
  --secondary-nav-width: 16.25rem;
  --fixed-content-height: calc(100vh - var(--layout-padding) * 2);
}

body {
  font-family: "Inter";
  color: var(--primary-contrast);
  background-color: var(--page-background);
  margin: 0;
}

html {
  font-family: var(--inter-font);
  color: var(--primary-contrast);
  background-color: var(--page-background);
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

ul, ol {
  font-size: .875rem;
  line-height: 1.4rem;
  font-weight: 400;
  letter-spacing: -.01rem;
}

button {
  font-family: var(--inter-font);
  background: transparent;
  -webkit-appearance: none;
  border: 0;
  font-weight: 600;
}

a {
  text-decoration: none;
  font-weight: 500;
  transition: color .3s ease;
}

code:not(pre *) {
  position: relative;
  padding: 0 0.3rem;
  background: var(--red-to-orange-horizontal-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  max-width: max-content;
  width: 100%;
  display: inline-block;
}
code {
  font-family: var(--code-font);
  border-radius: 0.25rem;
  font-weight: 400;
}
